#experience {
  background-image: url(../images/light-blue-water-paint-stroke.webp);
  background-size: auto;
  background-position: 5%;
  min-height: 100svh;
  padding-top: 5vh;
}

.experience-title {
  text-align: center;
  margin-bottom: 10vh;
}

.experience-container {
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

.experience-content {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-gap: 1em;
  padding: 1em 10px;
}

.experience-content img {
  width: 70px;
}

.experience-content p {
  padding: 18px;
}

.location-website {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.location-website p:first-child {
  margin-right: 1em;
  padding-left: 10px;
}

.experience-skills div{
  padding: 8px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .experience-content {
    grid-template-columns: repeat(auto-fill, 300px);
  }
  
  .experience-content {
    padding: 0;
  }

  .experience-content img {
    width: 70px;
    padding: 25px 0 0 5px;
    order: 1;
  }
  
  .experience-content p {
    padding: 10px 5px 25px;
    order: 2;
  }
}

@media (max-width: 450px) {
  .website {
    margin-top: 5px;
  }
}