.home-section {
  background-image: url(../images/light-blue-water-paint-stroke.jpg);
  background-size: cover;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.scroll-down-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.scroll-down {
  text-align: center;
  width: 8rem;
}
