.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  animation: fadeIn 1s;
  z-index: 1;
}

.sticky {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  background: transparent !important;
  visibility: hidden;
  backdrop-filter: blur(6px);
  transform: translate3d(0,-100%,0);
}

.show {
  visibility: visible;
  -webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
  -o-transition: all cubic-bezier(.4,0,.2,1) .4s;
  transition: all cubic-bezier(.4,0,.2,1) .4s;
  transform: none;
}

.sticky a {
  color: black;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  width: 6rem;
  margin: 0 1em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
  -o-transition: all cubic-bezier(.4,0,.2,1) .4s;
  transition: all cubic-bezier(.4,0,.2,1) .4s;
}

.nav-link:hover {
  color: black;
}

.sticky .nav-link:hover {
  color: black;
}

.not-hover {
  color: #808080 !important;
  -webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
  -o-transition: all cubic-bezier(.4,0,.2,1) .4s;
  transition: all cubic-bezier(.4,0,.2,1) .4s;
}

.not-hover .stick {
  color: #808080 !important;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: black;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .navbar {
    display: block;
  }

  .navbar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 1rem;
    animation: fadeOut 1s;
  }

  .open-nav {
    display: flex;
    top: 0;
    align-items: start;
    padding-left: 5em;
    z-index: 1;
    background-color: #fff;
    backdrop-filter: blur(6px);
    animation: fadeIn 1s;
  }

  .hamburger {
    display: block;
    z-index: 1;
    animation: fadeIn 1s;
  }

  .sticky {
    padding: 2.3rem 0;
  }

  .nav-link {
    text-align: left;
  }

  .nav-active {
    display: flex;
  }

  .hamburger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger .line2 {
    opacity: 0;
  }

  .hamburger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}