#skill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-section {
  color: black;
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 1300px;
}
.react-logo {
  height: 100px;
  width: 100px;
  padding: 1rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  transform: rotate(20deg);
  left: -20px;
  bottom: -200px;
  animation: moveUpDown 2s ease-in-out infinite;
}

.frontend-developer-bubble {
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  z-index: 3;
  height: 25px;
  position: absolute;
  bottom: 300px;
  margin-left: 130px;
  text-wrap: nowrap;
}

.highlight {
  position: relative;
  font-weight: 900;
  color: white;
}

.highlight::before {
  background-color: red;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.skill-images {
  display: flex;
  max-width: 50%;
  position: relative;
  flex-wrap: nowrap;
}

.skill-description {
  max-width: 50%;
  margin: auto 2em;
  padding: 1em;
}

.skill-text {
  margin: 0;
  font-weight: 600;
}

.airplace-tickets {
  transform: rotate(12deg);
}

.wavy-laptop {
  transform: scaleX(-1);
  position: relative;
  top: -180px;
  right: -150px;
  z-index: 1;
}

.web-developer-bubble {
  background-color: #4BD7F8;
  color: black;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  z-index: 3;
  height: 25px;
  font-weight: bold;
  width: fit-content;
  position: relative;
}

.web-highlight {
  position: relative;
  font-weight: 900;
}

.web-highlight::before {
  background-color: yellow;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.overlap-images-container {
  margin-top: 140px;
  margin-left: 100px;
}

@media (max-width: 767px) {
  .skill {
    max-height: auto;
  }

  .skill-images {
    max-width: none;
    padding: 5em 0;
  }

  .skill-section {
    flex-direction: column;
    min-width: auto;
  }

  .skill-description {
    max-width: none;
    margin-bottom: 2em;
    text-align: right;
  }

  .airplane-tickets {
    width: 160px;
  }
  
  .wavy-laptop {
    width: 160px;
    top: auto;
    right: auto;
  }

  .overlap-images-container {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .frontend-developer-bubble {
    bottom: 55px;
    margin-left: 85px;
  }

  .react-logo {
    position: absolute;
    top: 30px;
    left: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skill {
    max-height: auto;
  }

  .skill-section {
    flex-direction: column;
    min-width: auto;
  }

  .skill-description {
    max-width: none;
    text-align: right;
  }

  .airplane-tickets {
    width: 200px;
  }
  
  .wavy-laptop {
    width: 200px;
    top: -100px;
    right: -100px;
  }

  .overlap-images-container {
    margin-top: 50px;
    margin-left: 200px;
  }

  .frontend-developer-bubble {
    bottom: 100px;
    margin-left: 155px;
  }

  .react-logo {
    bottom: -50px;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}