#skill {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0.1)), url(../images/highlighted-code-snippets.png);
  background-size: contain;
  min-height: 100vh;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  backdrop-filter: blur(6px);
}

.skill {
  border: 2px solid white; 
  padding: 10px; 
  margin: 10px;
  width: 25rem;
  padding: 1rem;
}

.skill-title-container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.skill-title {
  margin: 0;
  padding: 0;
}

.skill-description {
  margin: 0;
  padding: 0;
}

.skill-content {
  padding-left: 1.5rem;
}

.skill-content::before {
  content: "<h3>";
  margin-bottom: 5px;
  color: gray;
}

.skill-content::after {
  content: "</h3>";
  margin-top: 5px;
  color: gray;
}

.skill-experience {
  padding-left: 1rem;
}

.underline-green {
  border-bottom: 2px solid greenyellow;
}

.underline-yellow {
  border-bottom: 2px solid yellow;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .skill {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skill {
    width: 30%;
  }
}