#work {
  /* background-image: url(../images/purple-water-paint-stroke.jpg);
  background-size: cover;
  min-height: 100vh; */
  position: relative;
}

.project-image {
  width: 500px;
  height: auto;
}

.project-title {
  padding: 1rem;
  margin: 0 0 0.5rem;
}

.progress {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  text-align: center;
  color: orange;
}

.progress-bar {
  height: 10px;
  background-color: red;
}

.work-title {
  /* margin: 1rem; */
}

@media (max-width: 767px) {
  .project-card {
    max-width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-card {
    max-width: 45%;
  }
}