#work {
  background-image: url(../images/purple-water-paint-stroke.jpg);
  background-size: cover;
  min-height: 100vh;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto;
}

.project-card {
  max-width: 45%;
  border-radius: 1rem;
  background: transparent !important;
  backdrop-filter: blur(6px);
  height: fit-content;
  cursor: pointer;
}

.big-project-card {
  max-width: 60%;
}

.sm-project-card {
  max-width: 40%;
}

.project-image {
  width: 100%;
  height: auto;
}

.project-title {
  padding: 1rem;
  margin: 0 0 0.5rem;
}

@media (max-width: 767px) {
  .project-card {
    max-width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-card {
    max-width: 45%;
  }
}